:root {
    --red: #dc3545;
}


/* --------------------------------------------------------- */
/*          -------------- 1- NAVBAR --------------          */
/* --------------------------------------------------------- */

 


/* --------------------------------------------------------- */
/*         -------------- 2- BANNER --------------           */
/* --------------------------------------------------------- */


.banner {
    background-image: url(./img/banner.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 20%;
    padding-bottom: 20%;
    color: purple;
    height: 100vh;

}




/* --------------------------------------------------------- */
/*         -------------- 3- SERVICES --------------         */
/* --------------------------------------------------------- */

.circle {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: auto;
    color: #fff;
    background-color: var(--red);
}

.circle i {
    position: relative;
    top: 30px;
}

/* --------------------------------------------------------- */
/*         -------------- 4- PORTFOLIO --------------        */
/* --------------------------------------------------------- */

.product-img {
    object-fit: cover;
}

/* --------------------------------------------------------- */
/*         -------------- 5- ABOUT US --------------         */
/* --------------------------------------------------------- */

 


/* --------------------------------------------------------- */
/*         -------------- 6- TEAM --------------             */
/* --------------------------------------------------------- */

.team img {
    width: 250px;
    border: 10px solid #cccccc;
}

a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
}

/* ------ ------ ---------------------- */
/*         -------------- 7- CLIENT --------------           */
/* ---- ------------------------------ */

.client img {
    height: auto;
    max-height: 50px;
}

/* --------------------------------------------------------- */
/*         -------------- 8- CONTACT --------------          */
/* --------------------------------------------------------- */

.contact {
    background: url("./img/map.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #eee;
}

/* --------------------------------------------------------- */
/*         -------------- 9- FOOTER --------------           */
/* --------------------------------------------------------- */

/* textarea {
    resize: none;
    height: 177px;
} */




    <!--  -------------- -->
    <!-- 1-NAVBAR        -->
    <!--  -------------- -->


    <!--  -------------- -->
    <!-- 2-BANNER        -->
    <!--  -------------- -->


    <!--  -------------- -->
    <!-- 3-SERVICES      -->
    <!--  -------------- -->


    <!--  -------------- -->
    <!-- 4-PORTFOLIO     -->
    <!--  -------------- -->

    <!--  -------------- -->
    <!-- 5-ABOUT US      -->
    <!--  -------------- -->


    <!--  -------------- -->
    <!-- 6-TEAM          -->
    <!--  -------------- -->


    <!--  -------------- -->
    <!-- 7-CLIENT        -->
    <!--  -------------- -->


    <!--  -------------- -->
    <!-- 8-CONTACT       -->
    <!--  -------------- -->


    <!--  -------------- -->
    <!-- 9-FOOTER        -->
    <!--  -------------- -->