* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.calculator {
  background: black;
  height: 840px;
  width: 500px;
  color: white;
  padding: 20px;
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
}
.display {
  height: 250px;
  /* border: 1px solid red; */
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  background-color: lightcyan;
  color: black;
  font-size: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.buttons-container {
  /* border: 1px solid red; */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
}

.button {
  width: 100px;
  height: 100px;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
}

.button.function {
  color: black;
  background-color: #a5a5a5;
}
.button.operator {
  background-color: #f1a33c;
}
.equel {
  background-color: #f1a33c;
}

.button.number-0 {
  border-radius: 55px;
  grid-column: 1 / span 2;
  justify-content: flex-start;
  padding: 43px;
  width: 215px;
}

.button:hover {
  opacity: 0.5;
}
